body {
    margin: auto;
    background-color: #97E4EC;
}

header h1 {
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 60px;
    color: #262833;

}

section.sobre-mi {
    position: relative;
    top: -50px;
}

header ul {
    list-style-type: none;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    font-size: 36px;
    gap: 85px;
    margin: 0;
    padding: 0;
    margin-left: 50px;

}

header ul li button {
    all: unset;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}



.hr {
    border: none;
    height: 1px;
    background-color: #333;
    width: 50%;
    margin: 0 0 20px 50px;
    opacity: 0.8;
}

footer {
    background-color: #202B67;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #d0e8f5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer section {
    display: inline-block;
    margin: 0 50px;
    background-color: #a8ebef;
    border-radius: 40px;
    padding: 30px 60px;
    font-family: 'pixelify sans', sans-serif;
    font-size: 20px;
    color: #202B67;
}

footer .enlace-footer {
    color: #202B67;
    font-family: 'pixelify sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
}



.formulario {
  background-color: #b3ecf0;
  border-radius: 40px;
  width: 600px;
  margin: 60px auto;
  padding: 40px 60px; 
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
  color: #202B67;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.formulario h2 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 35px;
  color: #202B67;
}


.formulario input,
.formulario textarea {
  width: 100%;
  background-color: #dff6f8;
  border: none;
  border-radius: 20px;
  padding: 18px;
  font-size: 18px;
  font-family: 'Pixelify Sans', sans-serif;
  color: #202B67;
  margin-bottom: 25px;
  outline: none;
}

.formulario textarea {
  height: 130px;
  resize: none;
}

.formulario button {
  background-color: #202B67;
  color: #a8ebef;
  font-size: 20px;
  font-family: 'Pixelify Sans', sans-serif;
  border: none;
  border-radius: 25px;
  padding: 14px 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.formulario button:hover {
  background-color: #3142a1;
  transform: scale(1.05);
}
