body {
    margin: auto;
    background-color: #97E4EC;
}

body section {
    border-radius: 40px;
    padding: 40px 30px;
    max-width: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

body section article {
    flex: 1;
    text-align: center;
}

body section article h2 {
    font-family: "pixelify sans", sans-serif;
    font-size: 50px;
    color: #30343f;
    border-bottom: 2px solid #9dc3e6;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    top: -50px;
}

body section article p {
    font-size: 22px;
    color: #2c2c2c;
    line-height: 1.6;
    margin: 15px 15px;
    text-align: left;
}

header h1 {
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 60px;
    color: #262833;

}

section.sobre-mi {
    position: relative;
    top: -50px;
}

header ul {
    list-style-type: none;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    font-size: 36px;
    gap: 85px;
    margin: 0;
    padding: 0;
    margin-left: 50px;

}

header h1 button {
    all: unset;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

header ul li a {
    all: unset;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}



.hr {
    border: none;
    height: 1px;
    background-color: #333;
    width: 50%;
    margin: 0 0 20px 50px;
    opacity: 0.8;
}

footer {
    background-color: #202B67;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #d0e8f5;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer section {
    display: inline-block;
    margin: 0 50px;
    background-color: #a8ebef;
    border-radius: 40px;
    padding: 30px 60px;
    font-family: 'pixelify sans', sans-serif;
    font-size: 20px;
    color: #202B67;
}

footer .enlace-footer {
    color: #202B67;
    font-family: 'pixelify sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
}


.contenedor-recuadros {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
    margin-top: 60px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.contenedor-recuadros::-webkit-scrollbar {
    display: none;
}


.recuadro {
    width: 400px;
    height: 380px;
    background-color: #E7F0F7;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    flex-shrink: 0;
}

.recuadro:hover {
    transform: translateY(-10px);
}


figure {
    text-align: center;
    margin: 0;
}


figure img {
    width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 20px;
}


figcaption {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 26px;
    margin-top: 20px;
    color: #202B67;
    cursor: pointer;
    transition: 0.3s;
}

figcaption:hover {
    text-decoration: underline;
    color: #0f1b80;
}